/*************************************/
/************ HEADER *****************/
/*************************************/

#header-principal-1 {
	background-color: #283A8A
}

#moodleheader {
	background-color: #283A8A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #283A8A;
}

.navbar .navbar-nav>.dropdown>a:hover .caret,
.navbar .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: #283A8A;
    border-bottom-color: #283A8A;
}

.navbar-inverse .navbar-toggle{
    background-color: #283A8A;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #283A8A;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #283A8A;
	}
}
/*************************************/
/************** BODY *****************/
/*************************************/
a {
	color:#283A8A;
}

.breadcrumb>li>a:hover, .breadcrumb>li>a:active, .breadcrumb>li>a:focus {
    color:#283A8A;
}

.path-course-view .course_title h2{
	color:#283A8A;
}

/*************************************/
/*********** BREADCRUMB **************/
/*************************************/

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav> li >a:hover {
    border-bottom-color: #283A8A;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #283A8A;
}

/*************************************/
/************ BLOCKS *****************/
/*************************************/
#block-region-side-post .block .header,
#block-region-side-pre .block .header {
	background-color:#283A8A;
}


.block_login .content .footer div:nth-child(1) a {
	color:#283A8A;
}

.block_login .btn:hover{
	background:#283A8A !important;
   
}

/** TINY MCE **/
.titulo_oscuro{
	color:#1a2e75;
}

.titulo_claro{
	color:#364b96;
}

.subtitulo_oscuro{
	color:#1a2e75;
}

.subtitulo_claro{
	color:#364b96;
}

.recuadro_oscuro{
	border-color:#1a2e75;
}

.recuadro_claro{
	border-color:#364b96;
}
