.titulo_oscuro{
	color:#1a2e75;
}

.titulo_claro{
	color:#364b96;
}

.subtitulo_oscuro{
	color:#1a2e75;
}

.subtitulo_claro{
	color:#364b96;
}

.recuadro_oscuro{
	border-color:#1a2e75;
}

.recuadro_claro{
	border-color:#364b96;
}

/********************************************************/
/******************* BANNER *****************************/
/********************************************************/

.gunaj_banner .banner_right .right_title{
	 color:#283A8A;
}
	
@media (max-width: 500px) {

	.gunaj_banner .banner_left{
		background-color:#283A8A;

	}
}
