.titulo_oscuro,.titulo_claro{
	font-size:18px;
	margin-bottom:12px;
	display:inline-block;
	text-transform:uppercase;
}

.subtitulo_oscuro,.subtitulo_claro{
	font-size:16px;
	margin-bottom:8px;
	display:inline-block;
}

.recuadro_oscuro,.recuadro_claro{
	border:1px solid;
	padding: 5px;
}
