.titulo_oscuro{
	color:#d68400;
}

.titulo_claro{
	color:#ffc35a;
}

.subtitulo_oscuro{
	color:#d68400;
}

.subtitulo_claro{
	color:#ffc35a;
}

.recuadro_oscuro{
	border-color:#d68400;
}

.recuadro_claro{
	border-color:#ffc35a;
}

/********************************************************/
/******************* BANNER *****************************/
/********************************************************/

.gunaj_banner .banner_right .right_title{
	 color:#FFB000;
}
	
@media (max-width: 500px) {

	.gunaj_banner .banner_left{
		background-color:#FFB000;

	}
}
