/*************************************/
/************ HEADER *****************/
/*************************************/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A63322;
}

.navbar .navbar-nav>.dropdown>a:hover .caret,
.navbar .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: #A63322;
    border-bottom-color: #A63322;
}

.navbar-inverse .navbar-toggle{
    background-color: #A63322;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A63322;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #A63322;
	}
}
/*************************************/
/************** BODY *****************/
/*************************************/
a {
	color:#A63322;;
}

.breadcrumb>li>a:hover, .breadcrumb>li>a:active, .breadcrumb>li>a:focus {
    color:#A63322;
}

.path-course-view .course_title h2{
	color:#A63322;
}

/*************************************/
/*********** BREADCRUMB **************/
/*************************************/

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav> li >a:hover {
    border-bottom-color: #A63322;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #A63322;
}

/*************************************/
/************ BLOCKS *****************/
/*************************************/
#block-region-side-post .block .header,
#block-region-side-pre .block .header {
	background-color:#A63322;
}

.block_login .content .footer div:nth-child(1) a {
	color:#A63322;
}

.block_login .btn:hover{
	background:#A63322 !important;
    
}
