/*************************************/
/************ HEADER *****************/
/*************************************/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgb(138,176,63);
}

.navbar .navbar-nav>.dropdown>a:hover .caret,
.navbar .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: rgb(138,176,63);
    border-bottom-color: rgb(138,176,63);
}

.navbar-inverse .navbar-toggle{
    background-color: rgb(138,176,63);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgb(138,176,63);
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, 
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: rgb(138,176,63);
	}
}
/*************************************/
/************** BODY *****************/
/*************************************/
a {
	color:rgb(138,176,63);;
}

.breadcrumb>li>a:hover, .breadcrumb>li>a:active, .breadcrumb>li>a:focus {
    color:rgb(138,176,63);
}

.path-course-view .course_title h2{
	color:rgb(138,176,63);
}

/*************************************/
/*********** BREADCRUMB **************/
/*************************************/

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav> li >a:hover {
    border-bottom-color: rgb(138,176,63);
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: rgb(138,176,63);
}

/*************************************/
/************ BLOCKS *****************/
/*************************************/
#block-region-side-post .block .header,
#block-region-side-pre .block .header {
	background-color: rgb(138,176,63);
}


.block_login .content .footer div:nth-child(1) a {
	color:rgb(138,176,63);
}

.block_login .btn:hover{
	background:rgb(138,176,63) !important;
    
}

/** TINY MCE **/
.titulo_oscuro{
	color:#7b9e30;
}

.titulo_claro{
	color:#9bbc53;
}

.subtitulo_oscuro{
	color:#7b9e30;
}

.subtitulo_claro{
	color:#9bbc53;
}

.recuadro_oscuro{
	border-color:#7b9e30;
}

.recuadro_claro{
	border-color:#9bbc53;
}
